@using SEMB_OWS_Tracking.Models
@{ ViewData["Title"] = "OWS Tracking";
                int ID = 0;
                string Sesa_id = "";
                string Name = "";
                string Level = "";
                foreach (User user in Model)
                {
                    ID = user.ID;
                    Sesa_id = user.SESA_ID;
                    Name = user.Name;
                    Level = user.Level;
                } }

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Profile</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="card card-success card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img src="~/assets/header.png" class="img-circle elevation-2 bg-white" alt="User Image">
                        </div>

                        <h3 class="profile-username text-center">@Name</h3>

                        <p class="text-muted text-center">@Level</p>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header bg-success">
                        <h5 class="card-title"><i class="fa fa-gears"></i> Settings</h5>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-success text-center" role="alert">
                            <i class='fa fa-check'></i> Successful Change Password!
                        </div>
                        <form class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-sm-3 control-label">Old Password</label>

                                <div class="col-sm-9">
                                    <input type="hidden" name="id" value="@ID">
                                    <input type="password" class="form-control" name="oldpsw" placeholder="Insert Old Password">
                                    <div id='oldpswerror'></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 control-label">New Password</label>

                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="newpsw" placeholder="Insert New Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 control-label">Confirm Password</label>

                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="confpsw" placeholder="Insert Confirm Password">
                                    <div id='confpswerror'></div>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.card-body -->
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" name="change" class="btn btn-success"><i class="fa fa-key"></i> Change Password</button>
                        </div>
                    </div>
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
           $(".alert").hide();
        })

        $("input[name=oldpsw],input[name=newpsw], input[name=confpsw]").keypress(function () {
            $("input[name=oldpsw], input[name=newpsw], input[name=confpsw]").removeClass("is-invalid");
            $("div#errorMsg").removeClass('invalid-feedback').html('');
        });

        $("button[name=change]").click(function () {
            var $this = $(this);
            var id = $("input[name=id]").val();
            var oldpsw = $("input[name=oldpsw]").val();
            var newpsw = $("input[name=newpsw]").val();
            var confpsw = $("input[name=confpsw]").val();
            var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> loading...';
            if (oldpsw != '' && newpsw != '' && confpsw != '') {
                if ($(this).html() !== loadingText) {
                    $this.data('original-text', $(this).html());
                    $this.html(loadingText);
                    $($this).prop('disabled', true);
                }

                setTimeout(function () {
                    var form_data = {
                        id: id,
                        oldpsw: oldpsw,
                        newpsw: newpsw
                    };

                    if (newpsw == confpsw) {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("ChangePass")",
                            data: form_data,
                            success: function (msg) {
                                if (msg != 1) {
                                    $("input[name=oldpsw]").addClass('is-invalid').focus().val('');
                                    $("div#oldpswerror").addClass('invalid-feedback').html("Invalid Old Password!");
                                    $($this).prop('disabled', false);
                                    $this.html($this.data('original-text'));
                                } else if (msg == 1) {
                                    $($this).prop('disabled', false);
                                    $this.html($this.data('original-text'));
                                    $("input:password").val("");
                                    $(".alert").show();
                                    $(".alert").delay(2000).slideUp(200, function () {
                                        //$(this).alert('close');
                                    });
                                }
                            }
                        });
                    } else {
                        $("input[name=confpsw], input[name=newpsw]").addClass('is-invalid');
                        $("div#confpswerror").addClass('invalid-feedback').html("Password not Match!");
                        $($this).prop('disabled', false);
                        $this.html($this.data('original-text'));
                    }
                }, 1000);
            } else {
                $("input[name=oldpsw], input[name=confpsw], input[name=newpsw]").addClass('is-invalid');
            }
        });
    </script>
}